function [estimated_b] = SVD_LAS_Detector(y, H, x, b, G, U, V, p)
% Inputs : y, H, x, b, G, U, V, p
% Output: ˆb

% Initialization
n = 1;
i = 1;

% Preprocessing at User k
[k,~] = size(x);
x = x(k,:);
V = V(k,:);
b = b(k,:);

% SVD of H
[U,S,V] = svd(H);

% Compute G & y
G = U' * inv(S^2 + eye(k)) * U;
y = U' * y;

% Output of SVD based MMSE Detector
estimated_b = inv(G) * y;

% Initial solution for LAS detector
p = inv(V) * estimated_b;

% Main iteration loop
for n=1:2*k
    % Cost prev
    prev_cost = -y' * G * p;
    
    % Refine solution
    for i=1:2*k
        p_n = A^(2*n-1) * p;
        next_cost = -y' * G * p_n;
        
        % Update solution
        if next_cost <= prev_cost
            i = i + 1;
            p = p_n;
        end
        prev_cost = next_cost;
    end
end

% Choose "p" as solution of SVD assisted LAS MUD
estimated_b = V * p;

end
